body {
    background-color: lawngreen;
}

/*///// Main Content /////*/

.topContainer{
    position: relative;
    width:80%;
    height: 100%;
    background-color: hotpink;
    
}
.navContainer {
    position: relative;
    display: inline;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
    left: 30%;
    list-style-type: none;
    
}
